---
import Layout from "../layouts/Layout.astro";
import Dog from "../components/Dog.astro";
import { getDogs } from  "../utils/sanity";

const dogs = await getDogs();
---
<Layout title="Dog Party">

  <section>
    {dogs.length ? dogs.map((dog) => (
      <Dog dog={dog} />
    )) : "Woof, no dogs found."}
  </section>

</Layout>