---
const { dog } = Astro.props;
---

<div class="card">
  {dog.photo && (
    <img src={dog.photo.asset.url + "?w=500"} alt={dog.photo.alt || `photo of ${dog.name}`} />
  )}

  <h3>{dog.name} - <em>{dog.sex}</em></h3>

  <a href={`/dog/${dog.slug?.current || ''}`}>Check out dog</a>
</div>

<style>
  .card {
    border: 3px solid var(--grey);
    border-radius: 3rem;
    text-align: center;
    width: 13rem;
    position: relative;
    overflow: hidden;
    padding-block-end: 1.5rem;
  }

  h3 {
    text-transform: lowercase;
  }

  img {
    object-fit: cover;
    width: 100%;
    max-height: 13rem;
    height: 100vh;
    border-bottom: 3px solid var(--grey);
  }

  h3 {
    margin-block-end: 1rem;
  }

  a {
    display: block;
    position: static;
    padding: .5rem;
    text-transform: uppercase;
  }

  a::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>