---
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header class="header">
      <a href="/">Dog Party</a>
    </header>
    <main>
      <slot />
    </main>
    <footer class="footer">

    </footer>
  </body>
</html>

<style>
</style>

<style is:global>
  :root {
    --max-width: 1400px;
    --yellow: #FF9800;
    --red: #B80000;

    --dark: hsl(50 0% 6%);
    --grey:  hsl(50 0% 14%);
    --light: hsl(50 0% 80%);
  }

  body {
    background: var(--dark);
    color: var(--light);
    width: 100%;
  }

  a {
    color: var(--light);
    text-decoration: none;
  }

  .header,
  main,
  .footer {
    max-width: var(--max-width);
    margin: auto;
  }

  .header {
    margin-block-end: 2rem;
  }
</style>